<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css"/>
</head>
<body>
	<header>
		<h1>{% block header %}{% endblock %}</h1>
		{% if user.is_authenticated %}
			<a class="login_logout" href="{% url 'app:logout' %}">Logout</a>
        {% else %}
            <a class="login_logout" href="{% url 'app:login' %}">Login</a>
		{% endif %}
	</header>
    <div class="top_nav">
        <a class="active_nav" href="{% url 'app:home' %}">Home</a>
        <a href="{% url 'app:rules' %}">Rules</a>
        <a href="{% url 'app:leaderboard' %}">Leaderboard</a>
        <a href="{% url 'app:contact' %}">Contact</a>
    </div>
	<div id="content_block">
		{% block content %}{% endblock %}
	</div>
	{% block extra_body %}{% endblock %}
</body>
</html>