
{% extends "base.html" %}

{% block title %}Star Jumper Rules{% endblock %}

{% block header %}Contact{% endblock %}

{% block extra_body %}
    <script>
        let home_nav = document.querySelector('#home_nav')
        let practice_nav = document.querySelector('#practice_nav')
        let leaderboard_nav = document.querySelector('#leaderboard_nav')
        let contact_nav = document.querySelector('#contact_nav')

        home_nav.className = ''
        practice_nav.className = ''
        leaderboard_nav.className = ''
        contact_nav.className = 'active_nav'
    </script>
{% endblock %}
