
<style>
    #btn_div {
        display: flex;
        width: 90%;
        margin: auto;
    }
    .big_bt {
        text-decoration: none;
        flex: 1;
        display: flex;
        font-size: 3em;
        border: 2px solid white;
        border-radius: 10px;
        text-align: center;
        height: 30%;
        width: 100%;
        margin: 40px;
    }
    .btn_text {
        flex: 1;
        margin: auto;
    }
    .big_bt:visited {
        color: white;
    }
    .big_bt:hover {
        color: black;
        background-color: #00ccff;
        cursor: pointer;
    }
</style>

{% extends "base.html" %}

{% block title %}Star Jumper Home{% endblock %}

{% block header %}Star Jumper{% endblock %}

{% block content %}
    <div id="btn_div">
        <a href="{% url 'app:single_player' %}" class="big_bt">
            <div class="btn_text">Single Player</div>
        </a>
        <div class="big_bt">
            <div class="btn_text">Multiplayer</div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        let home_nav = document.querySelector('#home_nav')
        let practice_nav = document.querySelector('#practice_nav')
        let leaderboard_nav = document.querySelector('#leaderboard_nav')
        let contact_nav = document.querySelector('#contact_nav')

        home_nav.className = 'active_nav'
        practice_nav.className = ''
        leaderboard_nav.className = ''
        contact_nav.className = ''
    </script>

{% endblock %}