
{% extends "play.html" %}

{% block title %}Star Jumper Single Player{% endblock %}



{% block extra_body %}
    {% load staticfiles %}
    <script src="{% static 'js/world_multi.js' %}"  type="text/javascript"></script>
    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <script>

        let color_data = {
                            //////// PLAYER ////////       //////// ENEMY ////////
            'white':       {shot:           StarShot   ,   enemy:       WhiteEnemy,
                            shot_speed:          6.0   ,   width:               10,
                            shot_cost:           6.0   ,   height:              20,
                            mx:                  2.5   ,   nemesis:         'none',
                            shield:              1.0  },
            'red':         {shot:            RedShot   ,   enemy:         RedEnemy,
                            shot_speed:          7.0   ,   width:               30,
                            shot_cost:          12.0   ,   height:              20,
                            mx:                  3.0   ,   nemesis:   'mediumblue',
                            shield:              2.0  },
            'orange':      {shot:           StarShot   ,   enemy:      OrangeEnemy,
                            shot_speed:          5.5   ,   width:               15,
                            shot_cost:          12.0   ,   height:              20,
                            mx:                  2.0   ,   nemesis:   'darkorchid',
                            shield:              5.0  },
            'yellow':      {shot:         YellowShot   ,   enemy:      YellowEnemy,
                            shot_speed:          8.0   ,   width:               15,
                            shot_cost:           8.0   ,   height:              30,
                            mx:                  3.5   ,   nemesis:    'limegreen',
                            shield:              2.0  },
            'limegreen':   {shot:           StarShot   ,   enemy:       GreenEnemy,
                            shot_speed:          9.0   ,   width:               15,
                            shot_cost:          10.0   ,   height:              10,
                            mx:                  3.5   ,   nemesis:       'yellow',
                            shield:              2.0  },
            'mediumblue':  {shot:           BlueShot   ,   enemy:        BlueEnemy,
                            shot_speed:          6.5   ,   width:               30,
                            shot_cost:          10.0   ,   height:              10,
                            mx:                  2.5   ,   nemesis:          'red',
                            shield:              3.0  },
            'darkorchid':  {shot:           StarShot   ,   enemy:      PurpleEnemy,
                            shot_speed:          7.5   ,   width:               25,
                            shot_cost:           8.0   ,   height:              15,
                            mx:                  3.0   ,   nemesis:       'orange',
                            shield:              3.0  },
        }

        let fpsInterval, recInterval, startTime, global_now, key_tracker
        let then, elapsed, then_reconcile, elapsed_reconcile
        let rps = 5
        let fps = 30
        let color_index = 0                                                              ///// CHEAT COUNTER TO CYCLE COLORS
        let restart = 0
        let host_ct = 0

        world_cnv.width = 1200
        sword_cnv.width = 1200
        canvas_div.style.width = '1200px'
        let world = new World(world_cnv, sword_cnv)

        let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws"
        let ws_path = ws_scheme + '://' + window.location.host + "/game/ether/"
        let socket = new ReconnectingWebSocket(ws_path)

        socket.onmessage = function (message) {
            let data = JSON.parse(message.data)
            let guy
            if (data.username) {
                if (!world.pvp_data.hasOwnProperty(data.username)) {
                    if (data.type === 'reconcile') {
                        world.pvp_data[data.username] = new StarJumper(
                            data.current.x_pos, data.current.y_pos, data.current.color, new KeyTracker())
                    }
                } else {
                    guy = world.pvp_data[data.username]
                    if (data.type === 'reconcile') {
                        guy.x_pos = data.current.x_pos
                        guy.y_pos = data.current.y_pos
                        guy.vy = data.current.vy
                        guy.color = data.current.color
                    } else if (data.type === 'keydown') {
                        guy.key_tracker.keyDown(data.key)
                    } else if (data.type === 'keyup') {
                        guy.key_tracker.keyUp(data.key)
                    } else if (data.type === 'place') {
                        guy.action.type = 'down'
                        guy.action.data = {
                            x_pos: data.placement.x_pos,
                            y_pos: data.placement.y_pos
                        }
                    } else if (data.type === 'shot') {
                        ReconstructShot(guy, (global_now - data.time) / fps, data.shot)
                    } else if (data.type === 'sword') {
                        guy.sword_trail.push(data.sword_trail)
                    }
                }
            } else if (data.type === 'host') {
                world.player.host = true
            } else if (data.type === 'reconcile_host') {
                world.host_update = data.host_update
            }
        }

        socket.onopen = function () {
            console.log("Connected to game socket")
            socket.send(JSON.stringify({
                "command": "join",
                "game": {{ game.id }}
            }))
        }

        function Reconcile() {
            socket.send(JSON.stringify({
                "command": "reconcile",
                "game": {{ game.id }},
                "client_now": global_now,
                "current": {
                    "x_pos": world.player.x_pos,
                    "y_pos": world.player.y_pos,
                    "vy": world.player.vy,
                    "color": world.player.color,
                }
            }))
        }

        function SendKeyDown(key) {
            socket.send(JSON.stringify({
                "command": "keydown",
                "game": {{ game.id }},
                "client_now": global_now,
                "key": key,
            }))
        }

        function SendKeyUp(key) {
            socket.send(JSON.stringify({
                "command": "keyup",
                "game": {{ game.id }},
                "client_now": global_now,
                "key": key,
            }))
        }

        function ReconcileHost() {
            socket.send(JSON.stringify({
                "command": "reconcile_host",
                "game": {{ game.id }},
                "portals": world.portalXYVs(),
                "stars": world.starXYs(),
                "health": world.health_star.dictXYV(),
            }))
        }

        function SendShot(shot) {
            socket.send(JSON.stringify({
                "command": "shot",
                "game": {{ game.id }},
                "client_now": global_now,
                "shot": {
                    "x_pos": shot.x_pos,
                    "y_pos": shot.y_pos,
                    "vx": shot.vx,
                    "vy": shot.vy,
                    "color": shot.color,
                }
            }))
        }

        function SendPlatform(x_pos, y_pos) {
            console.log('hi')
            socket.send(JSON.stringify({
                "command": "place",
                "game": {{ game.id }},
                "placement": {
                    "x_pos": x_pos,
                    "y_pos": y_pos,
                }
            }))
        }

        function Leave() {
            socket.send(JSON.stringify({
                "command": "leave",
                "game": {{ game.id }}
            }))
            window.location.href = "{% url 'app:lounge' %}"
        }

        function ReconstructShot(guy, time_diff, shot) {
            let new_x = shot.x_pos
            let new_y = shot.y_pos
            let new_vx = shot.vx
            let new_vy = shot.vy
            let new_speed = color_data[shot.color].shot_speed
            for (let i=0; i<time_diff; i++) {
                new_x += new_vx
                new_y += new_vy
                new_vx *= .994
                new_vy *= .994
                new_speed *= .994
            }
            let new_shot = new color_data[shot.color].shot(new_x, new_y, shot.color, guy)
            new_shot.vx = new_vx
            new_shot.vy = new_vy
            new_shot.speed = new_speed
            guy.shots.push(new_shot)
        }

        leave_bt.onclick = () => {
            Leave()
            window.location.href = "{% url 'app:home' %}"
        }

        function Animate(now) {
            if (world.play) window.requestAnimationFrame(Animate)
            global_now = now
            if (!then) {
                then = now
                then_reconcile = now
            }
            elapsed_reconcile = now - then_reconcile
            elapsed = now - then
            if (elapsed > fpsInterval) {
                then = now - (elapsed % fpsInterval)
                world.update()
                world.draw()
            }
            if (elapsed_reconcile > recInterval) {
                then_reconcile = now - (elapsed_reconcile % recInterval)
                Reconcile()
                host_ct += 1
            }
            if (world.player.host) {
                if (host_ct === 10 && elapsed_reconcile > recInterval/2) {   // STAGGER HOST RECONCILE SEND
                    ReconcileHost()
                    host_ct = 0
                }
            }
        }

        function StartLoop() {
            document.addEventListener('keydown', (evt) => {
                if (!world.player.key_tracker.isKeyDown(evt.key)) {
                    world.player.key_tracker.keyDown(evt.key)
                    if (evt.key === ' ' || evt.key === 'ArrowDown' || evt.key === 's' || evt.key === 'S') {
                        world.player.action.type = 'down'
                    } else if (!((evt.key === 'ArrowUp' || evt.key === 'w' || evt.key === 'W') && !world.player.on_platform)) {
                        SendKeyDown(evt.key)
                    }
                }
            })

            document.addEventListener('keyup', (evt) => {
                world.player.key_tracker.keyUp(evt.key)
                SendKeyUp(evt.key)
            })

            leave_bt.onclick = () => {
                Leave()
                leave_bt.style.display = 'None'
            }
            fpsInterval = 1000 / fps
            recInterval = 1000 / rps
            startTime = then
            window.requestAnimationFrame(Animate)
        }
        StartLoop(fps)
    </script>
{% endblock %}
