<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/play.css' %}"  type="text/css">
    <script src="{% static 'js/color_parser.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/other.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/shots.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/star_jumper.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/enemy.js' %}"  type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
    <div id="button_outer">
        <div id="button_div">
            <button id="show_modal_bt">Rules</button>
            <button id="leave_bt">Leave</button>
        </div>
    </div>
    <div id="canvas_outer">
        <div id="canvas_div">
            <canvas id="world_cnv" width="300" height="500"></canvas>
            <canvas id="sword_cnv" width="300" height="500"></canvas>
        </div>
    </div>
    <div id="modal_background"></div>
    <div id="instruction_modal_div">
        <div id="main_modal_div">
            <div id="instruction_options_div">
                <div id="rules_option" class="option">Rules</div>
                <div id="controls_option" class="option">Controls</div>
                <div id="other_option" class="option">Other</div>
            </div>
            <div id="instruction_div">
                <div id="rules_border" class="instruction_border">
                    <div id="rules_div" class="instruction">
                        The object of Star Jumper is (to be determined)...
                    </div>
                </div>
                <div id="controls_border" class="instruction_border">
                    <div id="controls_outter_div" class="instruction">
                        <div class="controls_row">
                            <div class="controls_col_1">"A"/LEFT</div>
                            <div class="controls_col_2">Go left</div>
                        </div>
                        <div class="controls_row">
                            <div class="controls_col_1">"D"/RIGHT</div>
                            <div class="controls_col_2">Go right</div>
                        </div>
                        <div class="controls_row">
                            <div class="controls_col_1">"W"/UP</div>
                            <div class="controls_col_2">Jump</div>
                        </div>
                        <div class="controls_row">
                            <div class="controls_col_1">"S"/SPACE</div>
                            <div class="controls_col_2">Grab/place star</div>
                        </div>
                        <div class="controls_row">
                            <div class="controls_col_1">LEFT CLICK</div>
                            <div class="controls_col_2">Shoot star</div>
                        </div>
                        <div class="controls_row">
                            <div class="controls_col_1">RIGHT CLICK</div>
                            <div class="controls_col_2">Flip attack</div>
                        </div>
                    </div>
                </div>
                <div id="other_border" class="instruction_border">
                    <div id="other_div" class="instruction">
                        Other Stuff
                    </div>
                </div>
            </div>
        </div>
        <div id="exit_div">
            <div class="option blank_option"></div>
            <div class="option blank_option"></div>
            <div id="hide_modal_bt" class="option">Exit</div>
        </div>
    </div>
	{% block extra_body %}
        <script src="{% static 'js/DOM.js' %}"  type="text/javascript"></script>
	{% endblock %}
</body>
</html>